/* 
.card_div {

  transition: transform 0.3s ease;
  }
  .card_div:hover {
    transform: scale(1.1); 
  }

.serviceCard {
  transition: transform 0.3s ease; 
}

.serviceCard:hover {
  transform: scale(1.05); 
}
 */
