/* .service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}

.service-card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card .card-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.service-card .card-text {
  flex-grow: 1;
}

.service-card .card-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.service-card button {
  margin-top: 10px;
  width: 100%; 
}  */
