/* Contact.css */

.contact-page {
    padding-top: 100px; /* Розмір вашого меню + додатковий відступ (якщо потрібно) */
   
}

.contact-container {
    max-width: 100%; /* Розмір на всю ширину */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Розмістити контент між краями контейнера */
    flex-wrap: wrap; /* Обгортати елементи, якщо вони не поміщаються в один ряд */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.contact-container h2 {
    text-align: center;
    color: #333;
    width: 100%; /* Займати всю ширину контейнера */
    margin-bottom: 20px;
}
  
.contact-container p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
    flex-basis: 100%; /* Займати всю доступну ширину */
}

.contact-detail {
    font-weight: bold;
    color: #000;
    flex-basis: 50%; /* Займати половину доступної ширини */
    padding: 5px; /* Додатковий внутрішній відступ */
}
